.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogItems {
  padding: 10px;
}

.dialogItems .item {
  text-decoration: none;
  color: teal;
}

.dialogItems .active {
  color: gold;
}

.messages {
  padding: 10px;
}

.messages .message {
  color: crimson;
}
